.custom-header {
    background-color: #ffffff;
    border-bottom: 4px solid #949ba6;
}

.header-inner {
    width: 1280px;
    height: 120px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 5px 0 0 0;
}

.menu li a {
   -decoration: none;
    color: #333;
    font-weight: 500;
}
