* {
    margin: 0px 0px;
    padding : 0px 0px;
    text-decoration: none;
}

a {
    color: black;
}

#header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.25rem black solid;
}

#header>#sub-menu,
#header>#log-menu{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

#header>#sub-menu>li,
#header>#log-menu>li{
    margin-left: 15px;
}
